.questionFilesContainer {
  position: absolute;
  left: 6.5%;
  right: 0%;
  bottom: 105px;
}

.fileCard {
  display: flex;
  align-items: center;
  background-color: #edf0f3;
  padding: 4px 10px;
  border-radius: 8px;
  gap: 5px;
  width: fit-content;
}

.fileCardContent {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 16px;
}

.removeFileIcon {
  cursor: pointer;
  margin-left: 20px;
}

@media screen and (max-width: 399px) {
  .fileCardContent {
    max-width: 140px;
    font-size: 14px;
  }
}